/* -------------------------------------------- */
/*                  Components                  */
/* -------------------------------------------- */

/* ------------------- Logo ------------------- */

.logo {
  max-width: 200px;
  height: auto;
}

/* --------------- Search Input --------------- */

.search-input {
  padding-left: var(--space-2);
}

.search-input__icon {
  top: calc(50% - var(--space-0-3));
  left: var(--space-0-5);
  transform: translateY(-50%);
}

/* ------------------- Cards ------------------ */

.card {
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 0 7px 0 var(--clr-light-shadow);
  background-color: var(--clr-white);
}

.blog-card {
  scroll-snap-align: start;
  border: 1px solid var(--clr-deep-black);
}

.blog-card__link:is(:hover, :focus) .blog-card__content__title,
.blog-post__popular-post__link:is(:hover, :focus) .blog-post__popular-post__title {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.blog-card__link:is(:hover, :focus) .blog-card__image {
  transform: scale(1.1);
}

.blog-card__image-container {
  flex: 1 1 150px;
  height: 200px;
}

.blog-card__image {
  transition: transform var(--tr-ease-in-out);
}

.blog-card__content {
  flex: 1 1 250px;
  padding: var(--space-1);
}

.blog-card__category {
  inset: 0 auto auto 0;
  padding: var(--space-0-5);
  font-weight: var(--fw-semibold);
  color: var(--clr-white);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--clr-deep-black);
}

/* ---------- Loader & Alert Message ---------- */

/* Loading Spinner
  Inspiration: https://www.w3schools.com/howto/howto_css_loader.asp */

.loading-spinner,
.alert-error {
  margin: auto;
}

.loading-spinner {
  inset: 0;
  width: 70px;
  height: 70px;
  border: 7px solid var(--clr-soft-gray);
  border-top-color: var(--clr-dark-orange);
  animation: spin 2s linear infinite;
}

.alert-error,
.alert-success {
  gap: var(--space-0-3);
}

.alert-error {
  width: fit-content;
  margin-block: var(--space-2);
  padding: var(--space-1);
  border: 4px solid var(--clr-red);
}

.alert-success {
  color: var(--clr-green);
}

/* Input Error */

.input__error {
  padding-right: var(--space-2-5);
  outline-color: var(--clr-red);
  border-color: var(--clr-red);
}

.input__error-icon {
  top: calc(var(--space-0-3) * 3);
  right: var(--space-0-5);
}

.input__error-message {
  margin: calc(var(--space-0-7) * -1) var(--space-0-3) var(--space-0-7);
  font-weight: var(--fw-semibold);
}

/* ----------------- Carousel ----------------- */
/* Inspiration: https://www.codingnepalweb.com/draggable-card-slider-html-css-javascript/ */

.carousel__container {
  /* grid-auto-flow: column; */
  /* grid-auto-columns: 100%; */
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.carousel__container::-webkit-scrollbar {
  display: none;
}

.carousel__btn-prev,
.carousel__btn-next {
  padding: 0;
}

.carousel__pagination__btn {
  padding: var(--space-0-5);
  border: 1px solid var(--clr-dark-orange);
}

.pagination-current {
  background-color: var(--clr-dark-orange);
}

/* ---------------- Image Modal --------------- */

.modal {
  margin: auto;
}

.modal::backdrop {
  backdrop-filter: blur(2px);
  background-color: var(--clr-medium-shadow, rgba(0, 0, 0, 0.7));
}

.modal__image {
  max-height: 90vh;
  min-height: 300px;
}

.modal__btn {
  inset: var(--space-1) var(--space-1) auto auto;
  padding: 0;
  border: 1px solid var(--clr-white);
  background-color: var(--clr-deep-black);
}

/* Animate Dialog & Backdrop
  Inspiration: https://stackoverflow.com/a/71984473 */

.modal[open],
.modal[open]::backdrop {
  animation: fadeIn var(--tr-ease-in-out, 200ms ease-in-out);
}

.modal-close[open],
.modal-close[open]::backdrop {
  animation: fadeOut var(--tr-ease-in-out, 200ms ease-in-out);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/* ---------------- Accordions ---------------- */
/* Inspiration: https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/ */

.accordion__header {
  width: 100%;
  padding: var(--space-0-5) var(--space-1);
  text-align: left;
  color: var(--clr-black);
  border: 1px solid var(--clr-deep-black);
}

.accordion__header .bx-plus-circle {
  color: var(--clr-dark-orange);
}

.accordion__content {
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--tr-linear);
}

.accordion__content-open {
  grid-template-rows: 1fr;
}

.accordion__content__body {
  padding: var(--space-1);
}
