/* -------------------------------------------- */
/*                Utility Classes               */
/* -------------------------------------------- */

.container {
  width: min(var(--max-width), 100% - (var(--screen-edge) * 2));
  margin-inline: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-auto-dir {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: var(--wrap-style, wrap);
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.place-items-center {
  place-items: center;
}

.gap-0-5 {
  gap: var(--space-0-5);
}

.gap-1 {
  gap: var(--space-1);
}

.gap-1-5 {
  gap: var(--space-1-5);
}

.gap-2 {
  gap: var(--space-2);
}

.gap-3 {
  gap: var(--space-3);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.mb-2 {
  margin-bottom: var(--space-2);
}

.fluid-padding {
  padding: var(--space-2) clamp(var(--space-1), 4vw, var(--space-3));
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: var(--fs-small);
}

.text-medium {
  font-size: var(--fs-medium);
}

.text-short {
  max-width: 45ch;
}

.text-red {
  color: var(--clr-red);
}

.rounded-corners {
  border-radius: var(--border-radius);
}

.border-bottom {
  padding-bottom: var(--space-0-5);
  border-bottom: 1px solid var(--clr-deep-black);
}

.overflow-hidden,
.truncate-text,
.sr-only {
  overflow: hidden;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines, 2);
  -webkit-box-orient: vertical;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  color: var(--clr-black);
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  background-color: var(--clr-white);
}
